body
{
    margin:0;
}
/*Divs*/
div#header
{
    position: absolute;
    margin:0;
    background-image: url('../images/diamonds.png') ;
    height: 150px;
    width: 100%;
}

div#ribbon
{
    background-image: url('../images/black.png');
    margin-top: 145px;
    height: 10px;
    width: 100%;
    position: absolute;
    z-index: 1001;
    opacity: 0.8;
}

div#name
{
    margin: 25px auto;
    height: 100px;
    width: 400px;
    position: relative;
    background-color: lightgrey;
    border-radius: 25px;
}

div#container
{
    position: absolute;
    margin-top: 150px;
    height: 1500px;
    width: 100%;
    background-image: url('../images/wood.png');
}

div#image
{
    margin: 247px auto;
    padding: 0;
    position: absolute;
    z-index: 100;
}
/*Images*/

img#ruby
{
    vertical-align: middle;
    width: 200px;
}

/*Text*/
h1.first
{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2.second
{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}